.plant-list-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.plant-list-item {
    width: 40rem;
    flex: auto;
    position: relative;
    margin: 3rem;
}

img {

    width: 100%;
}